<a href="https://colab.research.google.com/github/seoyamin/Data-analysis/blob/main/2022_0824_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# shift + enter : 코드 실핻
a = 5
print(a)

5

In [5]:
a = 3
b = 5

In [6]:
a + b

8

In [7]:
a - b

-2

In [9]:
# a의 b제곱
a ** b

3125

In [10]:
# a를 b로 나눈 몫
a // b

In [11]:
# 3.14 * 10의 11승
3.14E11

314000000000.0

In [12]:
# 문자열 자료형

a = 'hello world'
b = "hello world"
c = """hello world"""

In [13]:
a == b

True

In [15]:
a = "hello ' world" 
a
a = 'hello " world'
a

'hello " world'

In [17]:
a = 'hello \' world'
a

"hello ' world"

In [16]:
c = """hello' " world"""
print(c)

hello' " world

In [21]:
a = 'hello \n world'
a   # a 변수 안에 뭐가 있는지 보여줘라
print(a)   # a를 화면에 출력해라

hello
 world

In [22]:
c = """hello


world"""

print(c)

hello


world

In [23]:
a = 'python is too fun'
a

'python is too fun'

In [24]:
a[0]  # a의 0번째 문자에 접근 (인덱싱)

'p'

In [25]:
a[-1]  # 뒤에서부터 접근

'n'

In [28]:
# 여러 개의 접근 (슬라이싱)

a[2:5] # 2번째 ~ 5번째 전까지 (2-4까지)
a[3:]  # 3번째부터 끝까지
a[:5]  # 처음부터 5번째까지
a[:]   # 전체

'python is too fun'

In [29]:
a = 'python'
b = ' is too fun'

In [30]:
a + b

'python is too fun'

In [31]:
a * 5

'pythonpythonpythonpythonpython'

In [32]:
len(a)  # length of a

6

In [34]:
# print(), len() : 내장함수
# 문자열에서만 사용할 수 있는 문자열 전용 함수
# 문자열.함수명()

"I eat {} apples".format(3)   # 중괄호 안으로 input값 들어감

'I eat 3 apples'

In [35]:
"I eat {} apples and {} oranges".format(2, 4)

'I eat 2 apples and 4 oranges'

In [37]:
"I eat {1} apples and {1} oranges".format(2, 4)   # format 함수의 1번째 인덱스 인자값을 넣겠다

'I eat 4 apples and 4 oranges'

In [38]:
num = 3.141592
"{}".format(num)  # 숫자 -> 문자

'3.141592'

In [39]:
"{:.2f}".format(num)  # 소숫점 2째 자리까지 나타냄

'3.14'

In [40]:
"{:10.2f}".format(num)  # 10개의 공간을 할당한 후, 소숫점 2째 자리까지 나타냄

'      3.14'

In [44]:
text = "hi"
'{}'.format(text)
'{:<10}'.format(text)  # 10개의 공간을 할당한 후, 왼쪽 정렬

'hi        '

In [45]:
'{:>10}'.format(text)  # 10개의 공간을 할당한 후, 오른쪽 정렬

'        hi'

In [46]:
'{:^10}'.format(text)  # 10개의 공간을 할당한 후, 가운데 정렬

'    hi    '

In [47]:
'{:=^10}'.format(text)  # 10개의 공간을 할당한 후, 가운데 정렬, 빈 공간에는 내가 넣은 문자 = 채우기

'====hi===='

In [48]:
name = '홍길동'
age = 30

"나의 이름은 {}이고, {}살입니다.".format(name, age)

'나의 이름은 홍길동이고, 30살입니다.'

In [50]:
f"나의 이름은 {name:<10}이고, {age}살입니다."  # format 함수의 발전한 형태 (맨 앞에 f 쓰고 바로 변수 대입)

'나의 이름은 홍길동       이고, 30살입니다.'

In [51]:
a = 'python is too fun'
a.count('o')

3

In [52]:
a.find("o")   # 가장 처음 발견한 위치를 리턴

4

In [53]:
a.find("z")   # 존재하지 않으면 -1 리턴

-1

In [55]:
",".join("abcde")  # abcde 사이사이에 ,을 join 시킨 string을 리턴

'a,b,c,d,e'

In [56]:
"@".join(['a', 'b', 'c'])  # 배열 원소 사이사이에 @을 join 시킨 string을 리턴

'a@b@c'

In [57]:
a.upper()

'PYTHON IS TOO FUN'

In [58]:
a.lower()

'python is too fun'

In [59]:
a.capitalize()  # 맨 앞에 있는 글자만 대문자화

'Python is too fun'

In [60]:
b = '      helllo      '
b

'      helllo      '

In [61]:
b.lstrip()    # 왼쪽 공백 싹 다 없앰

'helllo      '

In [62]:
b.rstrip()   # 오른쪽 공백 싹 다 없앰

'      helllo'

In [63]:
b.strip()    # 양쪽 공백 싹 다 없앰

'helllo'

In [64]:
a.replace("python", "java")  # 잠깐 바꿔서 보여줌 (실제로 변경 X)

'java is too fun'

In [65]:
a

'python is too fun'

In [66]:
a = a.replace("python", "java")  # 아예 a 값 변경

In [67]:
a

'java is too fun'

In [69]:
a.split()   # 공백 기준으로 잘라서 list로 리턴

['java', 'is', 'too', 'fun']

In [70]:
c = "python:is:too:fun"
c.split()

['python:is:too:fun']

In [71]:
c.split(':')

['python', 'is', 'too', 'fun']

In [72]:
a.endswith("fun")  # a 문자열이 'fun'으로 끝나는지 여부 리턴

True

In [73]:
a.endswith('.jpg')

False

In [74]:
a.startswith('java')  # a 문자열이 'java'으로 시작하는지 여부 리턴

True

In [75]:
num = 'a35'
num.isdigit()  # 이게 순수하게 숫자로 이루어진 변수인지 리턴

True

In [76]:
num.isalnum()  # 이게 숫자 / 알파벳 으로 이루어진 변수인지 리턴

True

In [77]:
num2 = '      '
num2.isspace()  # 이게 공백으로만 이루어진 변수인지 리턴

True

In [79]:
# 리스트 자료형 : 데이터들을 보관하는 기능

a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [80]:
a = [1, 2, 3, [4, 5]]
len(a)

4

In [81]:
a[0]

1

In [82]:
a[3][1]  # 5만 출력해보기

5

In [83]:
a = [1, 2, 3]
b = [4, 5, 6]

a + b

[1, 2, 3, 4, 5, 6]

In [84]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [89]:
a[1] = 10
a

[1, 10, 3]

In [99]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
del a[1]
a

[1, 3, 4, 5, 6, 7, 8]

In [100]:
del a[3:]
a

[1, 3, 4]

In [101]:
a.append(5)
a

[1, 3, 4, 5]

In [104]:
a.insert(0, 10)  # index = 0에 10을 삽입 (속도가 좀 느림)
a

[10, 10, 10, 1, 3, 4, 5]

In [105]:
a = [1, 3, 5, 4, 2]
a.sort()
a

[1, 2, 3, 4, 5]

In [106]:
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [107]:
box = ['banana', 'car', 'apple']
box.sort()
box

['apple', 'banana', 'car']

In [108]:
box.append([3, 4])
box

['apple', 'banana', 'car', [3, 4]]

In [113]:
a = [1, 3, 5, 4, 2, 5]
a.reverse()    #  순서 뒤집어줌
a

[5, 2, 4, 5, 3, 1]

In [114]:
a.index(1)   # 인덱스 1인 값을 찾음 (없는 값 찾으면 에러)

5

In [115]:
a.remove(5)  # 모든 5 아니고, 제일 처음 5 하나만 제거
a

[2, 4, 5, 3, 1]

In [116]:
box = [1, 3, 5, 4, 2]

a = box.remove(2)
box

[1, 3, 5, 4]

In [117]:
print(a)

None

In [121]:
box = [1, 3, 5, 4, 2]

a = box.pop()   # 기본적으로 가장 맨 뒤에 있는 값을 뽑아 준다.  pop(3) : 인덱스 3인 값을 뽑아 줌
a

2

In [122]:
box

[1, 3, 5, 4]

In [123]:
box.count(4)  # 4가 몇개 들어있는지 리턴

1

In [127]:
a = [1, 2, 3]
b = [4, 5, 6]

#  a = a.extend(b)   # a 원소랑 b 원소랑 합쳐서 a에 넣어줌
a = a + b            #  a += b  가능
a

[1, 2, 3, 4, 5, 6]

In [129]:
# 튜플 자료형 : 리스트랑 거의 똑같다. (데이터를 보관하는 기능)
# 튜플은 한번 정하면 절대로 수정할 수 없음

a = (1, 3, 5, 4, 2)

a + a

(1, 3, 5, 4, 2, 1, 3, 5, 4, 2)

In [130]:
a, b = 3, 5
a

3

In [131]:
a = 3, 5    # 하나의 변수에 여러 값을 저장하려고 하면, 자동으로 튜플로 만들어서 저장해준다.
a

(3, 5)

In [132]:
a = [5]
a

[5]

In [133]:
a = (3)   # 원소 1개짜리 튜플은 튜플로 인정하지 않고, 그냥 숫자 하나로 취급
a

3

In [135]:
a = (3, )  # 이렇게 하면 원소 1개짜리 튜플 만들 수 있음
a

(3,)

In [137]:
a = (1, 3, 5, 4, 2)
a = list(a)             # 튜플 -> 리스트
a[1] = 10
a = tuple(a)
a

(1, 10, 5, 4, 2)

In [139]:
# 딕셔너리 : 사전
# school : 학교

dic = {"이름" : "홍길동", "성별" : "남자", "나이" : 30, "이메일" : "test@test.com", "주소" : "경기도 광명시", "키" : 180}
dic

{'이름': '홍길동',
 '성별': '남자',
 '나이': 30,
 '이메일': 'test@test.com',
 '주소': '경기도 광명시',
 '키': 180}

In [140]:
# 딕셔너리는 무조건 key 값 기준 판단 (index X)

dic["이름"]

'홍길동'

In [141]:
"이름" in dic

True

In [144]:
dic['이름'] = "강동원"
dic

{'이름': '강동원',
 '성별': '남자',
 '나이': 30,
 '이메일': 'test@test.com',
 '주소': '경기도 광명시',
 '키': 180}

In [145]:
len(dic)

6

In [148]:
# 빈도 분석
dic['취미'] = '영화'
dic

{'이름': '강동원',
 '성별': '남자',
 '나이': 30,
 '이메일': 'test@test.com',
 '주소': '경기도 광명시',
 '키': 180,
 '취미': '영화'}

In [149]:
del dic["키"]
dic

{'이름': '강동원',
 '성별': '남자',
 '나이': 30,
 '이메일': 'test@test.com',
 '주소': '경기도 광명시',
 '취미': '영화'}

In [151]:
list(dic.keys())

['이름', '성별', '나이', '이메일', '주소', '취미']

In [152]:
dic.values()

dict_values(['강동원', '남자', 30, 'test@test.com', '경기도 광명시', '영화'])

In [153]:
dic.items()   # key-value 튜플로 묶어서 리스트에 저장

dict_items([('이름', '강동원'), ('성별', '남자'), ('나이', 30), ('이메일', 'test@test.com'), ('주소', '경기도 광명시'), ('취미', '영화')])

In [154]:
# 집합
# 1. 중복된 값을 허용하지 않는다.
# 2. 순서가 없다.

# set()안에는 값 1개만 전달해야 함 (여러 데이터이면 리스트로 묶어야 함)
a = set([1, 2, 3, 1, 1, 1])
a

{1, 2, 3}

In [156]:
a = set("hello world")
a

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [157]:
a = set([1, 2, 3, 4, 5, 6])
b = set([4, 5, 6, 7, 8, 9])

a & b  # 교집합

{4, 5, 6}

In [158]:
a | b  # 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [159]:
a - b # 차집합

{1, 2, 3}

In [160]:
a.add(7)   # 값 추가
a

{1, 2, 3, 4, 5, 6, 7}

In [162]:
a.update([8, 9, 10])  # 여러개 값을 한번에 추가
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [163]:
a.remove(10)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [1]:
# 불 자료형 : 참, 거짓

a = True
b = False

In [2]:
5 > 3

True

In [3]:
# 5
# 비어있으면 거짓

bool(5)

True

In [4]:
bool(0)

False

In [5]:
bool("a")

True

In [6]:
bool("")

False

In [7]:
bool([])

False

In [10]:
5 >= 3

True

In [11]:
# 복사의 개념

a = 5
b = a      # 복사 X, b와 a가 같다는 의미

b = 10
a

5

In [15]:
a = [1, 3, 5, 4, 2]
b = a     # 복사 x ,  b와 a가 같다는 의미

b = a[:]  # 복사 O

b[1] = 10
b

[1, 10, 5, 4, 2]

In [16]:
a

[1, 3, 5, 4, 2]

In [14]:
a = [1, 2, 3]
b = a

print(id(a))   # id : a가 저장된 주소 값
print(id(b))

140608918199424
140608918199424

In [17]:
a = [1, 2, 3]
b = a[:]

print(id(a))   # id : a가 저장된 주소 값
print(id(b))

140608918130928
140608918131968

In [18]:
from copy import copy  # copy라는 라이브러리에서 copy라는 함수 가져오기

a = [1, 2, 3]
b = copy(a)

b[1] = 10
b

[1, 10, 3]

In [19]:
print(id(a))  
print(id(b))

140608917689360
140608917691920

In [20]:
a, b = 3, 5
(a, b) = 3, 5
a = b = 'python'

In [22]:
a = 3
b = 5

temp = a
a = b
b = temp

print(a, b)

5 3

In [23]:
a = 3
b = 5

a, b = b, a

print(a, b)

5 3

In [25]:
a, b, *c = 1, 3, 5, 4, 2   #  * 붙여주면 나머지를 다 c에 넣으라는 의미

print(a, b, c)

1 3 [5, 4, 2]

In [27]:
a, *b, c = 1, 3, 5, 4, 2

print(a, b, c)

1 [3, 5, 4] 2

In [28]:
# Test 문제 1
n = 5
'수박수박수'

n = 4
'수박수박'

In [35]:
# 내 풀이
str = "수박수박수"

n = 4
str[:n]

n = 5
str[:n]

'수박수박수'

In [41]:
# 풀이 1

n = 5
"수박" * (n//2) + "수" * (n % 2)

'수박수박수'

In [43]:
# 풀이 2

n = 5
t = '수박' * n
t[:n]

'수박수박수'

In [44]:
# Test 문제 2
a = (1, 2, 3)    # (4, 3, 2, 1)로 만들기

In [49]:
# 내 풀이
a = (1, 2, 3)
a = list(a)
a.append(4)
a.sort(reverse=True)   # a.reverse()
a = tuple(a)
a

(4, 3, 2, 1)

In [50]:
# Test 문제 3 
a = [1,1,1,1,1,2,2,2,3,3,3,4,4,5,5,5,5,5,5]    # [5, 4, 3, 2, 1]로 만들기

In [59]:
a = [1,1,1,1,1,2,2,2,3,3,3,4,4,5,5,5,5,5,5] 
b = list(set(a))
b.sort(reverse=True)
b

[5, 4, 3, 2, 1]

In [60]:
# 제어문 (조건문, 반복문)

In [61]:
# 1. 조건문  if문 : 특정 상황에 따라서 다르게 프로그래밍

money = True

if money == True :
    print('taxi')

taxi

In [65]:
money = 2000
card = True

if money >= 3000 or card == True:    # or, and 사용 가능
    print('taxi')
else :
    print('walk')

taxi

In [68]:
pocket = ['papaer', 'cellphone']

if 'money' in pocket :
    print('taxi')
else : 
    if card == True:
        print("taxi")
    else : 
        print("walk")

taxi

In [69]:
pocket = ['papaer', 'cellphone']

# elif 여러개 사용 가능

if 'money' in pocket :
    print('taxi')
elif card == True :
    print("taxi")
else : 
    print("walk")

taxi

In [71]:
n = input("값을 입력해주세요 : ") 
n

값을 입력해주세요 : apple

'apple'

In [72]:
n = input("값을 입력해주세요 : ")   # input은 무조건 문자열로 받아온다.
n

값을 입력해주세요 : 5 + 2

'5 + 2'

In [74]:
n = int(input("값을 입력해주세요 : "))  
n

값을 입력해주세요 : 5

5

In [77]:
# Test 문제
# n이 80점 이상이면 A, 70점 이상이면 B, 60점 이상이면 C, 나머지는 F

n = int(input("값을 입력해주세요 : "))  

if n >= 80 :
    print('A')
elif n >= 70 :
    print('B')
elif n >= 60 :
    print('C')
else :
    print('F')

값을 입력해주세요 : 75
B

In [78]:
score = 70

if score >= 60 :
    message = "합격"
else : 
    message = "불합격"

message

'합격'

In [79]:
score = 100

message = '합격' if score >= 60 else '불합격'
message

'합격'

In [80]:
# 2. 반복문
# 2-1. while 문 : 조건이 참인 동안 반복 (몇 번 반복해야 할 지 모를 때)
# 2-2. for 문 : 내가 요청한 만큼 반복

In [84]:
# 2-1. while 문

hit = 0
while hit < 10 :
    hit += 1
    print("나무를 {}번 찍었습니다.".format(hit))

    if hit == 10 :
        print("나무가 쓰러졌습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 쓰러졌습니다.

In [85]:
coffee = 10

while True :
    coffee -= 1
    print(f"커피를 한 잔 팔고, {coffee}잔 남았습니다.")
    if coffee == 0 :
        print('매진되었습니다.')
        break   # 반복 중에 얘를 만나는 순간 강제로 나감

커피를 한 잔 팔고, 9잔 남았습니다.
커피를 한 잔 팔고, 8잔 남았습니다.
커피를 한 잔 팔고, 7잔 남았습니다.
커피를 한 잔 팔고, 6잔 남았습니다.
커피를 한 잔 팔고, 5잔 남았습니다.
커피를 한 잔 팔고, 4잔 남았습니다.
커피를 한 잔 팔고, 3잔 남았습니다.
커피를 한 잔 팔고, 2잔 남았습니다.
커피를 한 잔 팔고, 1잔 남았습니다.
커피를 한 잔 팔고, 0잔 남았습니다.
매진되었습니다.

In [86]:
a = 0
while a < 10 : 
    a += 1
    if a % 2 == 0 : 
        continue     # 반복 중에 얘를 만나는 순간 그 즉시 시작점으로 이동
    print(a)

1
3
5
7
9

In [87]:
# Test
# while문을 이용하여 1 ~ 1000까지 3의 배수의 합 (정답 166833)
# 변수 이름 sum 금지

In [91]:
n = 1
result = 0

while n <= 1000 :
    if n % 3 == 0 :
        result += n
    n += 1
    
result

166833

In [92]:
# 2-2 . for문 : 내가 요청한 만큼 순서대로 반복

box = ['홍길동', '이순신', '아이유']

# for 변수이름 in 반복하고싶은것(리스트, 문자열, 튜플, 딕셔너리) :

# box 안에 있는 것을 순서대로 name이라는 변수에 넣어라
for name in box :
    print(name)

홍길동
이순신
아이유

In [93]:
name

'아이유'

In [97]:
box = [["홍길동", 30], ["이순신", 60], ["아이유", 21]]

for i, j in box :
    print(f"이름 : {i}, 나이 : {j}")

이름 : 홍길동, 나이 : 30
이름 : 이순신, 나이 : 60
이름 : 아이유, 나이 : 21

In [105]:
# range : 숫자 1개 -> 0부터 그 번호 전까지
# range : 숫자 2개 -> 시작 번호부터 끝 번호 전까지 
# range : 숫자 3개 -> 시작 번호부터 끝 번호 전까지 증감값 
for i in range(10) :
    print(i)

for j in range(2, 10) :
    print(j)

for r in range(5, 10, 2) :
    print(r)

0
1
2
3
4
5
6
7
8
9
2
3
4
5
6
7
8
9
5
7
9

In [102]:
a = 0
for i in range(1, 101) : 
    a += i
a

5050

In [107]:
# 반복문 안 쓸 수 있으면 안 쓰는게 좋다! (공식화)

n = 1000
(n * (n+1)) / 2

500500.0

In [110]:
for i in range(2, 10) :
    for j in range (1, 10) :
        print("{} X {} = {}".format(i, j, i*j))
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [111]:
# Test 1

In [112]:
for i in range(5, 0, -1) :
    print(i * '*')

*****
****
***
**
*

In [113]:
for i in range(0, 5) :
    print((5-i) * '*')

*****
****
***
**
*

In [114]:
# Test 2
box = []
for i in range(1, 6) :
    box.append(i)

box

[1, 2, 3, 4, 5]

In [118]:
# 리스트 내포 (비추)

box = [i * 3 for i in range(1, 11)]
box

box = [5 for i in range(1, 11)]
box

box = [i for i in range(1, 11) if i % 2 == 0]
box

[2, 4, 6, 8, 10]

In [121]:
box = [i * j for i in range(2, 10) for j in range(1, 10) if i % 2 == 0]
box

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72]

In [122]:
# 함수 : 미리 만들어놓고 필요할때마다 가져다 쓰기 위한 기능
# len() 처럼 제공되는 함수도 있음

In [124]:
# 함수 만들기
# def 함수명(재료(매개변수)):

def add(num1, num2) :
    return num1 + num2

In [126]:
a = add(3, 5)
a

8

In [131]:
# Test : 직각 삼각형 밑변, 높이 주어졌을 때 빗변 길이 ?

def getR(a, b) :
    dsum = ((a * a) + (b * b)) 

    for i in range(1, a+b) : 
        if(dsum // i == i) :
            result = i
    return result

r = getR(3, 4)
r

5

In [132]:
# 강사님 풀이

def pytha(num1, num2) :
    return (num1**2 + num2**2) ** (1/2)

In [133]:
pytha(3, 4)

5.0

In [134]:
def say() :
    return 'hello'

a = say()
a

'hello'

In [135]:
def add(num1, num2) :
    print(num1 + num2)

In [136]:
a = add(3, 7)

10

In [138]:
print(a)

None

In [140]:
def intro(name, age, sex = 5) :  # 기본값 5
    print("내 이름은 {}이고, {}살입니다.".format(name, age))
    if(sex == 5) :
        print("나는 남자입니다.")
    else :
        print("나는 여자입니다.")

In [141]:
intro("홍길동", 30)

내 이름은 홍길동이고, 30살입니다.
나는 남자입니다.

In [144]:
intro("전지현", 40, 1)

내 이름은 전지현이고, 40살입니다.
나는 여자입니다.

In [145]:
print("hello", end='\n')
print("hello")

hello
hello

In [148]:
print("hello", end=' -> ')   # 숨겨진 print 함수의 end 기본값 \n을 -> 으로 변경
print("hello")

hello -> hello

In [149]:
print('python', 'is', 'too', 'fun')

python is too fun

In [151]:
print('python', 'is', 'too', 'fun', sep = ' -> ')  # 숨겨진 print 함수의 sep 기본값 ' '을 ' -> ' 으로 변경

python -> is -> too -> fun

In [155]:
def test(a, *b) :   # * 추가하면 여러개의 값을 튜플로 묶어서 받을 수 있음
    print(a, b)

In [156]:
test(1, 3, 5, 4, 2)

1 (3, 5, 4, 2)

In [157]:
def test(**a) :
    print(a)

In [158]:
# *  : 묶는 것(리스트, 튜플)
# ** : 딕셔너리

test(name = '홍길동', age = 30)

{'name': '홍길동', 'age': 30}

In [161]:
# 함수 안에서 사용된 변수는 함수 안에서만 영향을 미친다

def test() :
    a = 5   # 지역변수
    return a 

a = 0   # 전역변수
a = test()
a

5

In [163]:
# 함수 안에서 사용된 변수는 함수 안에서만 영향을 미친다

def test() :
    global a   # a가 전역변수라는 사실을 명시해주기
    a = 5      # 전역변수

a = 0   # 전역변수
test()
a

5

In [166]:
# 특정한 상황일 때, 함수를 끝내고 싶다면?
def say(name) :
    if name == '바보' :
        return 
    print("나의 별명은 {}입니다.".format(name))

In [169]:
say("짱구")

나의 별명은 짱구입니다.

In [170]:
# def (define)
# lamda : 아주 간단한 함수를 만들 때

add = lambda num1, num2 : num1 + num2

In [171]:
add(4, 20)

24

In [180]:
# Test : factorial 구현하기
def fac(n) :
    result = 1
    for i in range(1, n+1) :
        result *= i
    return result

In [184]:
fac(6)

720

In [186]:
# 재귀함수 : 자기 자신을 호출하는 함수

def fac(n) : 
    if n == 1:
        return 1
    else :
        return n * fac(n-1)

In [187]:
fac(5)

120

In [226]:
# 피보나치 수열
# 0, 1, 1, 2, 3, 5, 8, 13, 21 ...
# fibo(5) -> 3    fibo(6) -> 5

count = 0

def fibo(n) :
    global count 
    count += 1

    if n == 1 : 
        return 0
    elif n == 2 :
        return 1
    else :
        return fibo(n-1) + fibo(n-2)

In [227]:
fibo(35)

5702887

In [228]:
count

18454929

In [229]:
# 이전 계산 결과 기억하는 재귀함수
count = 0
dic = {1 : 0,
       2 : 1}

def fibo(n) :
    global count 
    count += 1

    if n in dic.keys() :
        return dic[n]
    else : 
        dic[n] = fibo(n-1) + fibo(n-2)   # dic에 이전 계산 결과 저장
        return dic[n]

In [231]:
fibo(35)

5702887

In [232]:
count

67

In [233]:
dic

{1: 0,
 2: 1,
 3: 1,
 4: 2,
 5: 3,
 6: 5,
 7: 8,
 8: 13,
 9: 21,
 10: 34,
 11: 55,
 12: 89,
 13: 144,
 14: 233,
 15: 377,
 16: 610,
 17: 987,
 18: 1597,
 19: 2584,
 20: 4181,
 21: 6765,
 22: 10946,
 23: 17711,
 24: 28657,
 25: 46368,
 26: 75025,
 27: 121393,
 28: 196418,
 29: 317811,
 30: 514229,
 31: 832040,
 32: 1346269,
 33: 2178309,
 34: 3524578,
 35: 5702887}

In [234]:
# 예외 처리 : 에러가 발생했을 때, 에러를 무시하는 기술
# When ? ) 내 코드에 문제가 없을 때

In [238]:
# try 키워드 내에서 에러가 발생하면, 에러를 발생시키지 않고 except를 실행
try :
    print('hello')
    5 / 0             # error 발생
    print('bye')
except:
    pass  # 뭐라도 적어야 할 때

hello

In [239]:
try :
    print('hello')
    5 / 0             # error 발생
    print('bye')
except:
    print('bye')

hello
bye

In [242]:
# 일부러 에러를 발생시키는 방법

raise ZeroDivisionError

ZeroDivisionError: ignored

In [248]:
# 파일 만들기

f = open("test.txt", 'wt')  # 뒤에 파일 생성의 이유 적어줘야 함 ( wt : write text / 항상 빈 파일에 처음부터 씀 ) 

for i in range(1, 11) :
    f.write("{}번째 줄입니다.\n".format(i))

f.close()   # 저장하고 끄는 역할 (필수)

In [249]:
f = open("test.txt", 'at')  # 뒤에 파일 생성의 이유 적어줘야 함 ( at : attach text / 원래 글에 이어서 씀 ) 

for i in range(1, 11) :
    f.write("{}번째 줄입니다.\n".format(i))

f.close()   # 저장하고 끄는 역할 (필수)

In [252]:
f = open("test.txt", 'rt')   # read text

my_text = f.read()
f.close()

print(my_text)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [251]:
# 내장함수

abs(-5)  # 절댓값 함수

5

In [253]:
len('python')

6

In [254]:
len([1, 2, 3, 4, 5])

5

In [256]:
all([1, 2, 3, 4, 5])    #  모두 참이어야 함, 하나라도 거짓이면 거짓

True

In [257]:
all([1, 2, 3, 4, 5, 0])

False

In [258]:
any([0, 0, 0, 1])  # 하나라도 참이면 참, 모두 거짓이어야 거짓

True

In [259]:
any([0, 0, 0, 0])

False

In [264]:
box = ['apple', 'car', 'banana', 'car']

# enumerate 함수 : 값의 위치 인덱스와 값을 얻을 수 있음

list(enumerate(box))

[(0, 'apple'), (1, 'car'), (2, 'banana'), (3, 'car')]

In [266]:
for i, j in enumerate(box) :
    print(i, j)

0 apple
1 car
2 banana
3 car

In [265]:
# 600만개 중 'car'라는 데이터의 모든 위치 알고 싶다.

for i, j in enumerate(box) :
    if j == 'car' :
        print(i)

1
3